// Reset styles

@import 'normalize.css';
@import 'sanitize.css';

// Base styles

html {
  font-size: 100%;
}

// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
body {
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
}

/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}
 body {
     line-height: 1;
}
 ol, ul {
     list-style: none;
}
 blockquote, q {
     quotes: none;
}
 blockquote:before, blockquote:after, q:before, q:after {
     content: '';
     content: none;
}
 table {
     border-collapse: collapse;
     border-spacing: 0;
}

.hero {
  position: relative;
  display: flex;
}

.spinner {
  display: block;
  margin: 50vh auto;

  top: 50%;

  width: 100px;
  height: 100px;

  animation-name: spinning;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
